<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', user_path(current_user) %>


<div id="selected-stock-data" class="container">
	<span id="alert" class="help-inline label label-info"></span>
	
	<div class="row">
		<div class="col-xs-9">
			<span id="selected-symbol-price" class="h2"><%= @stock.symbol %></span><span id='quoteChange'></span>
		</div>
		<div class="col-xs-3">
		</div>
	</div>	<!-- /row-->

	<div class="row">
		<div class="col-xs-12">
			<small id="selected-name"></small>	
			<table>
				<tr>
					<td>Previous Close</td>
					<td id="selected-PreviousClose"></td>
				</tr>
				<tr>
					<td>Today's High/low</td>
					<td id="selected-todayHighLow"></td>
				</tr>
				<tr>
					<td>52-week High/low</td>
					<td id="selected-yearlyHighLow"></td>
				</tr>
				<tr>
					<td>Daily Avg. Volume</td>
					<td id="selected-AverageDailyVolume"></td>
				</tr>
			</table>
		</div>	<!-- /row-->
	</div> <!-- /selected-stock-data -->
	<div class="row">
		<div class="col-xs-12">
			<div id='viz'></div>
		</div>
	</div>	<!-- /row-->
</div>
<script type="text/javascript">
	$IndexQuickLookupAndRender("<%= @stock.symbol %>")
</script>