<p>This is the Users Show page for User #<%= @user.id %>.</p>

<%if notice %>
	<p id="notice" class="bg-success"><%= notice %></p>
<% end %>

<% if @errors %>
  <div id="error_explanation">
    <h2 class="bg-warning"><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>
  	<ul>
    	<% @errors.each do |message| %>
				<li class="bg-danger"><%= message %></li>
   		<% end %>
    </ul>
  </div>
<% end %>

<p>Email: <%= @user.email %></p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<% @stocks.each do |stock| %>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=stock.symbol%>" aria-expanded="true" aria-controls="collapse<%=stock.symbol%>">
          <%= stock.symbol %>
        </a>
      </h3>
    </div>

    <div id="collapse<%= stock.symbol %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<span id="" class="selected-symbol<%= stock.symbol %> hide h2"></span><span class='quoteChange<%= stock.symbol %>'></span>

					</div>
				</div>	<!-- /row-->

				<div class="row">
					<div class="col-xs-12">
						<small class="selected-name<%= stock.symbol %>"></small>	
						<table>
							<tr>
								<td>Previous Close</td><td class="selected-PreviousClose<%= stock.symbol %>"></td>
							</tr>
							<tr>
								<td>Today's High/low</td><td class="selected-todayHighLow<%= stock.symbol %>"></td>
							</tr>
							<tr>
								<td>52-week High/low</td><td class="selected-yearlyHighLow<%= stock.symbol %>"></td>
							</tr>
							<tr>
								<td>Daily Avg. Volume</td><td class="selected-AverageDailyVolume<%= stock.symbol %>"></td>
							</tr>
						</table>
						<%= link_to('Remove from Portfolio', "/stocks/#{stock.id}", html_options = {method: :delete})%>
					</div>	<!-- /row-->
				</div> <!-- /selected-stock-data -->
				<script type="text/javascript">
					$UserShowQuickLookupAndRender("<%= stock.symbol %>")
				</script>			  
      </div>
    </div>
  </div>
</div>

<% end %>
</div>
<%= will_paginate @stocks %>