

<h4>Quick Lookup</h4>

<div class="row">
	<div class="col-12-sm">
		<form class="well form-inline" id="searchform">
			<input type="text" id="symbolsearch" class="input-" placeholder="Company Name or Symbol">
			<span id="loading" class="help-inline hide"><%= image_tag 'spinner.gif' %> Loading...</span>
		</form>
	</div>
</div>

<div id="selected-stock-data" class="hide container">
	<span id="alert" class="help-inline label label-info"></span>
	<div class="row">
		<div class="col-xs-12">
			<span id="selected-symbol-price" class="hide h2"></span><span id='quoteChange'></span>
		</div>
	</div>
	
	<% if current_user %>
	<div class="row">
		<div class="col-xs-12">			
			<%= form_for @stock,{id: "add"} do |f| %>
				<div id="add"></div>
				<%= f.submit 'Add to Portfolio', {class: "btn btn-success", id: "add-stock-btn"} %>
			<% end %>
		</div>
	</div>	<!-- /row-->
	<% end %>

	<div class="row">
		<div class="col-xs-12">
			<small id="selected-name" class="hide"></small>	
			<table>
				<tr>
					<td>Previous Close</td>
					<td id="selected-PreviousClose"></td>
				</tr>
				<tr>
					<td>Today's High/low</td>
					<td id="selected-todayHighLow"></td>
				</tr>
				<tr>
					<td>52-week High/low</td>
					<td id="selected-yearlyHighLow"></td>
				</tr>
				<tr>
					<td>Daily Avg. Volume</td>
					<td id="selected-AverageDailyVolume"></td>
				</tr>
			</table>
		</div>	<!-- /row-->
	</div> <!-- /selected-stock-data -->
	<div class="row">
		<div class="col-xs-12">
			<div id='viz'></div>
		</div>
	</div>	<!-- /row-->

</div>
