@import "bootstrap-sprockets";
@import "bootstrap";

.ui-menu {
	border: solid 1px #000;
	background: #FFF;
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
	border-radius:3px;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
	cursor: pointer;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	background-color:#fff;
}

.ui-helper-hidden-accessible { 
	display: none;
	visibility: hidden;
}

#selected-stock-data table td {
	padding: 5px 15px;
}

#selected-stock-data table {
	width: 100%;
}

.panel-body table td {
	padding: 5px 15px;
}

.panel-body table {
	width: 90%;
}

#viz {
	height:400px;
	width:100%;
}